
/* =============================GENERAL STYLING============================ */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* =======================HEADER SECTION================================ */

  #header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: #333;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }


  .logo {
    display: flex;
    padding: 0 2px;
  }
  
  #header-img {
    border-radius: 50%;
  }

  .title {
    padding-left: 15px;
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  #nav-bar{
    display: flex;
    padding-right: 2rem;
  }
  .nav-list{
    display: flex;
    list-style: none;
    padding: 0 2rem;
  }

  .nav-link {
    color: white;
    padding: 0 2rem;
    text-decoration: none;
  }

  .mobile-menu{
    display: none;

  }
  


  /*===================HOME SECTION======================== */

  #home {
    background-image: url('./assets/bg.jpg'), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); /* Add dimming layer */;
    padding-top: 150px;
    padding-bottom: 8rem;
    background-size: cover;
    background-position: center;
    height: 100vh; /* Full viewport height */
    width: 100%; 
    background-blend-mode: darken; 
    color: #f4f4f4;
    align-items: center;
  }

  .subtitle {
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 3rem;
    color: white;
    font-size: 3rem;
    
  }

  #home p {
    text-align: center;
    margin: 2rem 5rem;
    color: #f4f4f4;
  }

   #form {
    padding-top: 2rem;
    text-align: center;
   }

   /*======================FEATURES SECTION===========================*/
   
  #Features {
    padding: 10rem 4rem;
    text-align: center;

  }

  #feature_cont,.contact-content {
    background-color: bisque;
    border: solod 1px bisque;
    border-radius: 1rem;
  }

  .text_section {
    padding-top: 2rem;
  }

  .video_section {
    padding: 50px 20px;
    text-align: center;
    margin: 2rem auto;
  }
  
  .video {
    max-width: 100%;
    height: auto;
  }

  /*================= COLLECTIONS SECTION ================= */

  #collection {
    display: flex;
    flex-direction: row;
    background-color: bisque;
    padding: 2rem 0 2rem 0;
  }

  .item {
  
    margin: 0 1rem;
    width: 24%;
    text-align: center;
    border-radius: 1rem;
  }


  /*===================================CONTACT STYLING=========================================*/
#contact {
 padding: 10rem 5rem 5rem 5rem;
}

.contact-content p {
  font-size: 1rem;
  text-align: center;
  padding-top: 20px;
}

.form-input{
  width: 90%;
  margin-left: auto;
  margin-top: 16px;

}
.contact-form label {
  text-align: start;
  
}
  .contact-form input, .contact-form textarea {
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 2px;
   resize: vertical;
}

.contact-form .submit {
  background-color: #04AA6D;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}
 

/*====================================== FOOTER STYLING ==========================================*/
.footer {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 0 5rem;
}

.footer .address {
  padding-bottom: 2rem;
}

a i{
  color: white;
  font-size: 2rem;
  
}

a {
  text-decoration: none;
}

@media only screen and (max-width: 767px) {
  .mobile-menu {
    display: block;
  }

  #nav-bar {
    display: none;
  }

  .open-menu {
    cursor: pointer;
    font-size: 3rem;
    color: white;
    margin-right: 25px;
}

.nav-links{
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: #333;
  padding: 16rem 0;

  transition: left 0.3s ease-in-out;
  z-index: -1000;
}

.nav-links ul {
  list-style: none;
  text-align:center;
}

.nav-links li {
 padding: 1.2rem 0;
  
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 23px;
  display: block;
}
}
  